*{
	box-sizing: border-box;
}

img {
	max-width: 99%;
	max-height: 99%;
}

body{
	background-image: url(../images/asanoha.png);
	background-size: 100%;
	font-family: 'Acme', sans-serif;
	padding-top: 25px;
}

header{
	font-family: 'Cinzel', serif;
	font-weight: 600;
	margin: 0 auto;
	border: solid 2px white;
	background-color: #A93226;
	color: white;
	height: 80px;
	width: 300px;
	font-size: 24px;
	text-align: center;
	padding-top: 15px;
	opacity: .7;
	border: solid 2px black;
}

#winTotal, #lossTotal {
	height: 50%;
	margin: 0 auto;	
	}

.gem{
	border: solid 2px grey;
}  

.main, .goal, .winsAndLosses, .scoreCounter, .scoretotal {
	opacity: .7;
	border: solid 2px black;
	position: relative;
	top: 10px;
	text-align: center;
}

.main2{
	margin: 0 auto;
}

.main{
	background-color: #D35400;
	position: relative;
	top: 10px;
	color: white;
	width: 500px;
	height: 300px;
	padding: 10px;
	margin: 0 auto;
}

.bottom{
	margin: 0 auto;
	padding: 10px;
	width: 500px;
}

.goal{
	width: 350px;
	height: 100px;
	background-color: #34495E;
	color: white;
	padding: 10px;
	float: left;
	margin: 10px;
	padding-top: 40px;
}

.container{
	width: 520px;
	margin: 0 auto;
	height: 200px;
}

.winsAndLosses{
	height: 100px;
	background-color: lightblue;
	width: 130px;
	margin: 10px;
	float: left;
	padding-top: 20px;
}

#redGem{
clear: both;
margin-left: 35px;
}

.gem{
float: left;
height: 75px;
width: 75px;
background-color: white;
border: solid 1px black;
margin: 25px 25px;
}

.scoreBox{
	width: 500px;
	height: 80px;
	float: left;
}

.scoreTotal{
	clear: both;
	background-color: #2BA296;
	width: 500px;
	height: 30px;
	margin: 10px;
	color: white;
	padding: 5px;
}

.scoreCounter{
	background-color: #2BA296;
	width: 500px;
	height: 30px;
	margin: 10px;
	color: white;
	padding: 5px;
}


